html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
body {
  background-color: #e5e5e5;
}
#body-width {
  min-width: 950px;
  max-width: 1200px;
  margin: 0px auto;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: space-between;
  -webkit-justify-content: space-between;
  -ms-justify-content: space-between;
  justify-content: space-between;
  -ms-flex-pack: justify;
  padding-right: 8px;
  height: 100%;
}
#left-skyscraper {
  width: 160px;
  height: 600px;
  display: inline-block;
}
#date-time {
  min-height: 20px;
  font-size: 14px;
  position: absolute;
  top: 4px;
  left: 0px;
  width: 100%;
  text-align: center;
}
.ad {
  border: 1px solid black;
  background-color: #eb9800;
  margin: 4px;
  padding: 12px;
}
#center-col {
  min-width: 740px;
  display: inline-block;
}
#leaderboard {
  margin: 20px auto;
  height: 90px;
  width: 728px;
}
#header {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  -ms-align-items: center;
  align-items: center;
  font-size: 58px;
  min-height: 170px;
}
@media (max-width: 1000px) {
  #header {
    font-size: 68px;
  }
}
@media (max-width: 900px) {
  #header {
    font-size: 54px;
  }
}
@media (max-width: 900px) {
  #header {
    min-height: 140px;
  }
}
#header #brand {
  color: black;
  position: relative;
  top: -4px;
}
#header #brand:hover {
  color: darkblue;
}
#header #sbm-logo1 {
  opacity: 0.4;
  position: absolute;
  left: 18px;
  top: 19px;
}
@media (max-width: 900px) {
  #header #sbm-logo1 {
    height: 113px;
    width: 89px;
  }
}
#header #sbm-logo2 {
  opacity: 0.4;
  position: absolute;
  right: 18px;
  top: 19px;
}
@media (max-width: 900px) {
  #header #sbm-logo2 {
    height: 113px;
    width: 89px;
  }
}
#page-type {
  font-size: 26px;
  color: red;
  padding: 4px;
  position: absolute;
  width: 100%;
  left: 0px;
  text-align: center;
}
.card {
  background-color: white;
  min-height: 100px;
  padding: 8px;
  border: 1px solid darkgray;
  margin: 12px 0px;
  border-radius: 8px;
  box-shadow: 4px 4px 2px 0px #c6c6c6;
}
.max-width-card {
  max-width: 700px;
  margin: 12px auto;
  padding: 30px;
}
.max-width-card pre {
  color: #b36200;
}
#rect-ad-box {
  max-width: 728px;
  margin: 0px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: space-between;
  -webkit-justify-content: space-between;
  -ms-justify-content: space-between;
  justify-content: space-between;
  -ms-flex-pack: justify;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  -ms-align-items: center;
  align-items: center;
}
#partner-links a {
  padding: 8px;
  border: 2px solid lightblue;
  margin: 8px;
  font-size: 18px;
  display: inline-block;
  background-color: #ecf6f9;
  text-decoration: none;
  cursor: pointer;
}
#partner-links a:hover {
  background-color: #c4e3ed;
}
a {
  text-decoration: none;
}
.ad-rectangle {
  width: 300px;
  height: 250px;
}
#left-rectangle {
  width: 300px;
  height: 250px;
}
#right-rectangle {
  width: 300px;
  height: 250px;
}
